<!DOCTYPE html>
<html>
  <head>
    <title>Google SignIn</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
        <h1>
          <span class="fa fa-lock"></span> Merstro FinTech Social Authentication
        </h1>
        <p>Login or Register with:</p>
        <!-- <div id="ggl">
          <span class="fa fa-google"></span> SignIn with Google
        </div> -->
        <a href="/auth/google"
          ><span class="fa fa-google"></span> SignIn with Google</a
        >
      </div>
    </div>
    <script>
      // const authLink = document.getElementById('ggl')
      // const checkMailAuth = async () => {
      //   try {
      //     const opt = {
      //       method: 'GET',
      //       headers: {
      //         'Content-Type': 'application/json',
      //       },
      //     }
      //     const resp = await fetch('/auth/google', opt)
      //     const response = await resp.json()
      //     console.log(response)
      //     const userProfile = response.userProfile
      //     console.log(userProfile)
      //   } catch (TypeError) {}
      // }
      // authLink.onclick = async (e) => {
      //   console.log('clicked')
      //   // e.preventDefault()
      //   await checkMailAuth()
      // }
    </script>
  </body>
</html>
